# EditorConfig is actually pretty great tbh.
# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 2

[{*.sh,*.bash}]
switch_case_indent = true
binary_next_line = true
keep_padding = true
space_redirects = true
